body {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}


.container-fluid{
 
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* ============= Animation background ========= */
.background {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-size:400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height:120vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* ================= Header ============ */
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}

/* Logo */
.logo{
  margin: 20px 20px;
  float: left;
}

/* Header content & title & button*/
.header-content{
  margin-top:10%;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button{
  width: 140px;
  margin:20px 10px;
  color: #591BC5;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
}
.header-content button:hover{
  border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.button{
  width: 140px;
  margin:20px 10px;
  color: #591BC5;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;

}

#logotext{
  font-family:Font;
font-size: 30px;
color:#102A32;
text-decoration: none;
}

@font-face {
  font-family: Font;
  src: url(RockSalt-Regular.ttf);
}

#container {

  width: 100%;
  height: 330px;
}

#part1 {
  width: 100%;
  height: 280px;
  height: 250px;
  
}

#part2 {
  width: 100%;
  height: 50px;
  position: relative;
  top: -15px
}

#companyinfo {
  width: 14%;
  height: 280px;
  position: relative;
  left: 8%;
  top: 30px
}

#sitelink {
  font-size: 25px;
  color: #591BC5;
}

#sitelink:hover {
  color: #e65100
}

#title {
  color: #591BC5;
  position: relative;
  top: 0px;
  font-size: 14.1px
}

#detail {
  color: #591BC5;
  font-size: 16px
}

#explore {
  width: 14%;
  height: 280px;
  position: relative;
  top: -235px;
  left: 29%
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  color: #591BC5;
  font-size: 20px;
  text-decoration:underline;
}

.link {
  display: flex;
  width: 90px;
  height: 40px;
  color: #591BC5;
  background-color: transparent;
  
  position: relative;
  top: -10px
}

.link:hover,
.link1:hover {
  color: #e65100
}

#visit {
  width: 14%;
  height: 280px;
  position: relative;
  top: -515px;
  left: 42%
}

.text {
  color: #591BC5;
  font-size: 14px;
  margin-top: -10px
}

#legal {
  width: 14%;
  height: 280px;
  position: relative;
  top: -800px;
  left: 59.5%
}

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #591BC5;
  background-color: transparent;
 
  position: relative;
  top: -10px;
  margin-top: 7px
}



#email {
  color: #591BC5;
  position: relative;
  top: -20px
}

.btn {
  position: relative;
  top: -10px
}

#txt5 {
  position: relative;
  top: 0px
}



#txt6 {
  color: #591BC5;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
 
}

.material-icons {
  position: relative;
  top: 3px
}

@media only screen and (max-width:1000px) {
  #companyinfo {
      width: 20%
  }

  #sitelink {
      font-size: 30px
  }

  #txt5,
  #txt4 {
      font-size: 17px
  }

  #txt5,
  .social {
      position: relative;
      top: -5px
  }
}

@media only screen and (max-width:850px) {
  #companyinfo {
      position: relative;
      left: 3%
  }

  #txt6 {
      position: relative;
      left: 3%
  }

  #txt1,
  #txt2,
  #txt3,
  #txt4,
  #txt5 {
      font-size: 15px
  }

  #explore {
      position: relative;
   
      top: -240px;
      left: 26%
  }

  #sitelink {
      font-size: 25px
  }

  #detail {
      font-size: 13px
  }

  .link {
      width: 60px;
   
  }

  #visit {
      position: relative;
      top: -520px;
      left: 37%
  }

  .text {
      font-size: 13px
  }

  #legal {
      position: relative;
      top: -800px;
      left: 54%
  }

  #subscribe {
      position: relative;
      top: -1080px;
      left: 76%;
      width: 20%
  }

  #txt5,
  .social {
      position: relative;
      left: -110%;
      top: px
  }

  #email,
  .btn {
      position: relative;
      top: 0px
  }
}