@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
    position: relative;
    width: 900px;
    background-color: #fff;
    padding: 25px 0px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }  
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;

  }
  .container .sous-title{
    text-align: center;
  }
  .container .box{
    position: relative;
    float: left;
    margin: 15px;
    width: 420px;
    background-color: #ffffff;
    background-image: linear-gradient(62deg, #ffffff 0%, #8EC5FC 24%, #ffffff 49%, #E0C3FC 75%, #ffffff 100%);

    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: grid;
  }
 
  
  
  
h1{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
}
h2{
    font-size: 18px;
    font-weight: 300;
    position: relative;
    text-align: center;
    color: rgb(126, 126, 126);
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.button {
    border: none;
    padding: 20px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #333232;
  }
  
  .button1:hover {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    
    
    
    color: white;
  }
  